
<footer>
  <div>
    <nav>
    <ul>
      <li>
        <h3>Links</h3>
        <ul class="btnnav">
          <li >
            <button mat-icon-button class="example-icon" routerLink="/home">
              <a  class="fotLink" >
                Home
              </a>
            </button>
          </li>
          <li>
            <button mat-icon-button routerLink="/aboute">
              <a  class="fotLink">
                About
              </a>
            </button>
          </li>
          <li>
            <button mat-icon-button class="example-icon" routerLink="/menu">
              <a class="fotLink">
                Menu
              </a>
            </button>
          </li>
          <li>
            <button mat-icon-button class="example-icon" routerLink="/contact">
              <a class="fotLink">
                Cantact us
              </a>
            </button>
          </li>
        </ul>
      </li>
    </ul>


  </nav>
    <address>
      <h3>Contacto</h3>
      <i><b> Republica Dominicana <br> Santo Domingo</b></i><br>
      <i class="fas fa-phone"> +1 849-255-3917</i><br>
      <i class="fas fa-phone"> +1 849-255-3917</i><br>
      <i> <i class="fa-solid fa-envelope"></i><b> nskenshee gmail.com </b></i>
    </address>

  </div>

  <nav>
    <ul>
      <li><i class="fa-brands fa-google"></i></li>
      <li><i class="fa-brands fa-facebook"></i></li>
      <li><i class="fa-brands fa-linkedin"></i></li>
      <li><i class="fa-brands fa-twitter"></i></li>
      <li><i class="fa-brands fa-youtube"></i></li>
      <li><i class="fa-solid fa-envelope"></i></li>
    </ul>
  </nav>

</footer>

